# Easier Navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....="cd ../../.."
alias .....="cd ../../../.."

# List all files in long format
alias l="ls -al"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Get week number
alias week='date +%V'

# Get macOS Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update; sudo gem cleanup'

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# FASD
alias v='f -e vim'
alias j='fasd_cd -d'
alias o='a -e open'

# Git
alias gits="git status"
alias git.="git add ."
alias gwip="git add -A; git ls-files --deleted -z | xargs -R0 git rm; git commit -m \"--wip--\"; git push; git fetch origin -p;"
alias gwhat="git fetch origin -p; git branch -a; git log -10 --pretty=format:\"%h - %<(80,trunc)%s - %an, %ar (%cn %cr)\"; git status"
alias gpretty="git log --oneline --decorate --graph --all"
alias gfix="git add -A; git commit --amend --no-edit"
alias gdrop="git add .; git reset --hard"

function gsave() {
    git add .
    if [ "$1" != "" ] # or better, if [ -n "$1" ]
    then
        git commit -m "$1"
    else
        git commit -m update
    fi
    git push
    git fetch origin -p
}

# Development
alias nrs="npm run start"
alias nrd="npm run dev"
alias nrw="npm run watch"
alias yn="yarn"

# VIM/NEOVIM
alias vim="nvim"

# VSCODE
alias code="code-insiders ."

# TMUX
alias tm='$HOME/dotfiles/bin/tm'
alias mux='tmuxinator'
alias ta='tmux attach'
alias tls='tmux ls'
alias tat='tmux attach -t'
alias tns='tmux new-session -s'
alias killtm='killall tmux'

# Helpers
alias df='df -h' # disk free, in Gigabytes, not bytes
alias du='du -h -c' # calculate disk usage for a folder

# Recursively delete `.DS_Store` files
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"

# Set TMUX to use 256 colors
[ -z "$TMUX" ] && export TERM=xterm-256color

# Random Helpers
alias c='clear'
alias www='python -m SimpleHTTPServer 8000'
alias speed='speedtest-cli --server 2406 --simple'

# Shortcuts
alias workE='code . && ember serve'
alias workR='code . && yarn start'
