# Easier Navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....="cd ../../.."
alias .....="cd ../../../.."

# List all files in long format
alias l="ls -al"

# List only directories
alias lsd="ls -lF | grep --color=never '^d'"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec zsh"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# VIM/NEOVIM
if command -v nvim >/dev/null 2>&1; then
  alias vim="nvim"
fi

# TMUX
alias ta='tmux attach'
alias tls='tmux ls'
alias tat='tmux attach -t'
alias tns='tmux new-session -s'
alias killtm='killall tmux'

# Set TMUX to use 256 colors
[ -z "$TMUX" ] && export TERM=xterm-256color