# Automatically list out contents when changing directories
function cd {
  builtin cd "$@" && ls -al
}

# Programmers logbook
function lb() {
  local dotfiles_dir="${DOTFILES:-$HOME/dotfiles}"

  local file="$dotfiles_dir/notes/logbook/$(date '+%Y-%m-%d').md"
  mkdir -p "$(dirname "$file")"

  if [ ! -f "$file" ]; then
    echo "1. Consider the problem you're attempting to solve" >> "$file"
    echo "2. Describe your method for solving it" >> "$file"
    echo "3. Describe the process of carrying out the method" >> "$file"
    echo "4. Record what happened, and ask how it could be improved" >> "$file"
  fi
  ${EDITOR:-vim} "$file"
}

function til() {
  local dotfiles_dir="${DOTFILES:-$HOME/dotfiles}"

  local file="$dotfiles_dir/notes/til/$(date '+%Y-%m-%d').md"
  mkdir -p "$(dirname "$file")"

  if [ ! -f "$file" ]; then
    echo "Today I Learned:" >> "$file"
  fi
  ${EDITOR:-vim} "$file"
}
